<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<connectionStrings>
			<!-- Windows Authentication -->
			<add name="DESKTOP-IJNOIL9"
				 connectionString="Server=localhost;Database=LenguajeProgramacion;Integrated Security=True;TrustServerCertificate=True;"
				 providerName="System.Data.SqlClient" />
		</connectionStrings>


		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>